
/* All-Selector*/
*{
	padding:0; 
	margin:0; 
}
/* Elemente-Selektor */
body {
	
	background: linear-gradient(to bottom, #2E4272,#FFF7B3);
	background-repeat: no-repeat
}
main{
	background-color:#2E4272;
	font-size: 1.3em; 
	width: 1200px; 
	float:right; 
	line-height: 1.3em; 
}
h1{
    background-color: cadetblue;
}
nav {

	background-color:#4F628E;
	color: #061539;
	margin-top: 10px;  

}
nav ul {
	
	padding-left: 100px ;  
	margin-left: 5px; 
	margin-right: 5px; 
}
nav li {
	padding: 5px;
	list-style-type:none;
	font-size: 1em; 
	/*font-weight: bold; /*Schrift Fett gedruckt
	border: double; */ 
	display: inline-block; 
	margin-left: 5px; 
	padding-left: 5px; 
	margin-right: 5px; 
	padding-right: 5px; 
}
/* Klassen-Selectoren*/




/* ID-Selectoren */
